* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

/* heading and logo */

body {
    background-image: url('../images/musicnotes.jpg');
    background: cover;
    background-color: #ffffff;
    font-family: 'Montserrat Alternates', sans-serif;
    font-weight: 300;
    color: #000000;
    text-align: center;
    /* height: 100vh;
    width: 100vw; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.heading {
    font-size: 4rem;
    text-align: center;
    padding-top: 15px;
}

i {
    font-size: 3rem;
    padding: 16px;
}

h2 {
    font-size: 1.5rem;
}

.container {
    background-color: #66a3ff;
    width: 800px;
    max-width: 80%;
    border-radius: 5px;
    text-align: center;
    box-shadow: 0 0 10px 2px;
    height: 650px;



}

/* how to play area */

.instructions {
    padding-top: 30px;

}

#intro-head {
    text-decoration: underline;
}

#how-to {
    text-decoration: none;
    color: #000000;
    text-align: left;
    padding: 20px 20px;

}

/* game area */

.btn-box {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 10px;
    margin: 10px 0;
    padding: 10px;
}

.button {
    background-color: #ff8080;
    border: 2px solid;
    height: 50px;
    border-radius: 5px;
    padding: 5px;
    font-weight: bold;
}

.button:hover {
    border-color: #ffffff;
}

.start-btn,
.next-btn {
    background-color: #66a3ff;
    font-weight: bold;
    font-size: 2rem;
    margin: 15px 15px;
    border-color: #000000;

}

.start-btn:hover,
.next-btn:hover {
    border-color: #000000;
}



.controls {
    display: flex;
    align-items: center;
    justify-content: center;
}